<header>
  <div class="index">
    <h1 class="scroll-hide">BEACH<span></span>DAY</h1>
    <div class="container marg">
    </div>
    <%= image_tag "banner_hide.png" %>
  </div>
</header>
<main>
  <div class="mr-3 ml-3">
    <div id="beaches" class="search d-flex w-100">
      <p>Qual a praia perfeita para você?</p>
      <%= form_tag beaches_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Ache uma praia"
        %>
      <% end %>
    </div>
    <div class="row">
      <% @beaches.each do |beach| %>
        <div class="col-4 m-0">
          <%= link_to beach_path(beach) do %>
            <div class="flip m-3">
              <div class="front" style="background-image: linear-gradient(rgba(255,255,255,0.5),rgba(0,0,0,0)), url('<%= cl_image_path beach.photo.key%>')">
                <h2 class="text-shadow pt-5"><%=beach.name %></h2>
                <div class="d-flex">
                  <p slot="content" class="p"><%= beach.overall_rating %></p>
                </div>
              </div>
              <div class="back">
                <div class="barras text-align-center text-left">
                  <div class="row">
                    <div class="col-6">
                      <p>Estacionamento</p>
                    </div>
                    <div class="col-6">
                      <div class="barra">
                         <div class="barra-nivel" data-nivel="<%= (beach.overall_parking.round(1)*10).to_i%>"></div>
                      </div>
                    </div>
                    <div class="col-6">
                      <p>Restaurantes</p>
                    </div>
                    <div class="col-6">
                      <div class="barra">
                         <div class="barra-nivel" data-nivel="<%= (beach.overall_restaurant.round(1)*10).to_i%>"></div>
                      </div>
                    </div>
                    <div class="col-6">
                      <p>Transporte Público</p>
                    </div>
                    <div class="col-6">
                      <div class="barra">
                         <div class="barra-nivel" data-nivel="<%= (beach.overall_public_transportation.round(1)*10).to_i%>"></div>
                      </div>
                    </div>
                    <div class="col-6">
                      <p>Segurança</p>
                    </div>
                    <div class="col-6">
                      <div class="barra">
                         <div class="barra-nivel" data-nivel="<%= (beach.overall_security.round(1)*10).to_i%>"></div>
                      </div>
                    </div>
                    <div class="col-6">
                      <p>Ondas</p>
                    </div>
                    <div class="col-6">
                      <div class="barra">
                         <div class="barra-nivel" data-nivel="<%= (beach.overall_wave.round(1)*10).to_i%>"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</main>

