<div class="banner m-0" style="background-image: linear-gradient(rgba(255,255,255,0.5),rgba(0,0,0,0)), url('<%= cl_image_path @beach.photo.key%>');">
  <h1><%= @beach.name %></h1>
</div>
<div class="cont">
  <ul class="list-inline tabs-underlined w-100 justify-content-between pb-5">
    <li>
      <p class="tab-underlined active" id="tab1">NOTAS</p>
    </li>
    <li>
      <p class="tab-underlined" id="tab5">AVALIAÇÕES</p>
    </li>
    <li>
      <p class="tab-underlined" id="tab2">TEMPO REAL</p>
    </li>
    <li>
      <p class="tab-underlined" id="tab3">PREVISÃO DO TEMPO</p>
    </li>
    <li>
      <p class="tab-underlined" id="tab4">COMO CHEGAR</p>
    </li>
  </ul>
  <div id="grades" class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <p class="geral pr-2">AVALIAÇÃO GERAL</p>
        <% c = 1 %>
        <% rating = ((((@beach.overall_rating * 2).round).to_f)/2) %>
        <% 5.times do %>
          <% if c < rating %>
            <span class="fas fa-star checked geral pl-2 pt-1"></span>
          <% elsif c - rating == 0.5%>
            <span class="fas fa-star-half-alt checked geral pl-2 pt-1"></span>
          <% else %>
            <span class="far fa-star checked geral pl-2 pt-1"></span>
          <% end %>
          <% c += 1 %>
        <% end %>
      </div>
    </div>
    <div class="barras w-100">
      <div class="row">
        <div class="col-6 d-flex justify-content-between">
          <p class="pt-1">ESTACIONAMENTO</p>
          <div class="barra align-right">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_parking.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <p  class="pt-1">RESTAURANTES</p>
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_restaurant.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <p class="pt-1">TRANSPORTE PÚBLICO</p>
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_public_transportation.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <p class="pt-1">SEGURANÇA</p>
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_security.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <p class="pt-1">LIMPEZA</p>
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_cleaning.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <p class="pt-1">ALUGUEL DE CADEIRAS</p>
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_rent_equipment.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <p class="pt-1">ONDAS</p>
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_wave.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <p class="pt-1">VENTO</p>
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_wind.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <p class="pt-1">ACESSIBILIDADE</p>
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_accessibility.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <p class="pt-1">FAIXA DE AREIA</p>
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_sand_strip.round(1)*10).to_i%>"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="reviews" class="container inactive-tab">
    <div id="overview" class="d-flex justify-content-center pb-4">
      <h3 class="h3-overview w-100"><%= @beach.overview %></h3>
    </div>
    <% if !@beach.reviews.empty? %>
      <% @beach.reviews.each do |review| %>
        <div id="card-review">
        <p class="p-card"><%= "#{review.user.first_name} #{review.user.last_name} escreveu uma avaliação em #{review.user.created_at.strftime("%Y-%m-%d %H:%M:%S")}" %></p>
        <% user_rating = ( review.parking + review.restaurant + review.public_transportation + review.security + review.cleaning + review.rent_equipment + review.wave + review.wind + review.accessibility + review.sand_strip ) / 10 %>
        <% c = 1 %>
        <% 5.times do %>
          <% if c <= user_rating %>
            <span class="fas fa-star checked p-card2"></span>
          <% elsif c - user_rating == 0.5%>
            <span class="fas fa-star-half-alt checked p-card2"></span>
          <% else %>
            <span class="far fa-star checked p-card2"></span>
          <% end  %>
          <% c += 1 %>
        <% end %>
        <p class="p-card3"><%= review.title %></p>
        <p class="p-card4"><%= review.content %></p>
        </div>
      <% end %>
    <% else  %>
      <p><strong>>Essa praia ainda possui avaliações</p>
    <% end %>
    <%= link_to "Adicionar avaliação", new_beach_review_path(@beach), class: "btn btn-primary btn-blue align-middle h-75 button"%>
  </div>

  <div id="realtime" class="container inactive-tab">
    <% hour = @weathers_today[0] %>
    <div id="weather-day00-hour<%= hour.date_time.hour %>" class="all-cards hourly">
      <div class="d-flex justify-content-between align-middle">
        <div class="padding-t">
          <h3 class="h3-weather"><%= @portuguese[0] %>, <%= hour.date_time.strftime("%d/%m/%Y")%> <%= hour.date_time.hour.to_s.rjust(2, '0')%>h</h3>
          <h4><%= hour.description.capitalize%></h4>
        </div>
        <div>
          <%= image_tag "weather_icons/#{hour.icon}.png", class: "image-medium" %>
          <h2 class="pl-5"><%= hour.air_temperature.round(1) %>°C</h2>
        </div>
        <div class="padding-t1">
          <p class="p-0 m-0">Sensação Térmica: <%= (hour.air_temperature_feels_like.round(1)) %>°C</p>
          <p class="p-0 m-0">Chuva: <%= (hour.rain_probability * 100).to_i %>%</p>
          <p class="p-0 m-0">Humidade: <%= (hour.humidity).to_i %>%</p>
          <p class="p-0 m-0">Vento: <%= (hour.wind_speed).to_i %>km/h (<%=hour.wind_direction %>)</p>
          <% ocean = @oceans_today.where("date_time = '#{hour.date_time}'") %>
          <% unless ocean.empty? %>
            <% if ocean[0].wave_height %>
              <p class="p-0 m-0">Ondas: <%= (ocean[0].wave_height) %>m (<%=ocean[0].wave_direction %>)</p>
            <% end %>
            <% if ocean[0].water_temperature %>
              <p class="p-0 m-0">Temperatura da água: <%= (ocean[0].water_temperature).round(1) %>°C</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>



  <div id="traffic" class="container inactive-tab">
    <div id="map" data-markers="<%= @markers.to_json %>" >
    </div>
  </div>



  <div id="weatherforecast" class="container inactive-tab">
     <div class="card-weathers">
      <div class="card-top">
        <% @weathers_today.each do |hour| %>
          <div id="weather-day0-hour<%= hour.date_time.hour %>" class="inactive-tab all-cards hourly">
            <div class="d-flex justify-content-between align-middle">
              <div class="padding-t">
                <h3 class="h3-weather"><%= @portuguese[0] %>, <%= hour.date_time.strftime("%d/%m/%Y")%> <%= hour.date_time.hour.to_s.rjust(2, '0')%>h</h3>
                <h4><%= hour.description.capitalize%></h4>
              </div>
              <div>
                <%= image_tag "weather_icons/#{hour.icon}.png", class: "image-medium" %>
                <h2 class="pl-5"><%= hour.air_temperature.round(1) %>°C</h2>
              </div>
              <div class="padding-t1">
                <p class="p-0 m-0">Sensação Térmica: <%= (hour.air_temperature_feels_like.round(1)) %>°C</p>
                <p class="p-0 m-0">Chuva: <%= (hour.rain_probability * 100).to_i %>%</p>
                <p class="p-0 m-0">Humidade: <%= (hour.humidity).to_i %>%</p>
                <p class="p-0 m-0">Vento: <%= (hour.wind_speed).to_i %>km/h (<%=hour.wind_direction %>)</p>
                <% ocean = @oceans_today.where("date_time = '#{hour.date_time}'") %>
                <% unless ocean.empty? %>
                  <% if ocean[0].wave_height %>
                    <p class="p-0 m-0">Ondas: <%= (ocean[0].wave_height) %>m (<%=ocean[0].wave_direction %>)</p>
                  <% end %>
                  <% if ocean[0].water_temperature %>
                    <p class="p-0 m-0">Temperatura da água: <%= (ocean[0].water_temperature).round(1) %>°C</p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>


        <% @weathers_today_1.each do |hour| %>
          <div id="weather-day1-hour<%= hour.date_time.hour %>" class="inactive-tab all-cards hourly">
            <div class="d-flex justify-content-between align-middle">
              <div class="padding-t">
                <h3 class="h3-weather"><%= @portuguese[0] %>, <%= hour.date_time.strftime("%d/%m/%Y")%> <%= hour.date_time.hour.to_s.rjust(2, '0')%>h</h3>
                <h4><%= hour.description.capitalize%></h4>
              </div>
              <div>
                <%= image_tag "weather_icons/#{hour.icon}.png", class: "image-medium" %>
                <h2 class="pl-5"><%= hour.air_temperature.round(1) %>°C</h2>
              </div>
              <div class="padding-t1">
                <p class="p-0 m-0">Sensação Térmica: <%= (hour.air_temperature_feels_like.round(1)) %>°C</p>
                <p class="p-0 m-0">Chuva: <%= (hour.rain_probability * 100).to_i %>%</p>
                <p class="p-0 m-0">Humidade: <%= (hour.humidity).to_i %>%</p>
                <p class="p-0 m-0">Vento: <%= (hour.wind_speed).to_i %>km/h (<%=hour.wind_direction %>)</p>
                <% ocean = @oceans_today.where("date_time = '#{hour.date_time}'") %>
                <% unless ocean.empty? %>
                  <% if ocean[0].wave_height %>
                    <p class="p-0 m-0">Ondas: <%= (ocean[0].wave_height) %>m (<%=ocean[0].wave_direction %>)</p>
                  <% end %>
                  <% if ocean[0].water_temperature %>
                    <p class="p-0 m-0">Temperatura da água: <%= (ocean[0].water_temperature).round(1) %>°C</p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% @weathers_today_2.each do |hour| %>
          <div id="weather-day2-hour<%= hour.date_time.hour %>" class="inactive-tab all-cards hourly">
            <div class="d-flex justify-content-between align-middle">
              <div class="padding-t">
                <h3 class="h3-weather"><%= @portuguese[0] %>, <%= hour.date_time.strftime("%d/%m/%Y")%> <%= hour.date_time.hour.to_s.rjust(2, '0')%>h</h3>
                <h4><%= hour.description.capitalize%></h4>
              </div>
              <div>
                <%= image_tag "weather_icons/#{hour.icon}.png", class: "image-medium" %>
                <h2 class="pl-5"><%= hour.air_temperature.round(1) %>°C</h2>
              </div>
              <div class="padding-t1">
                <p class="p-0 m-0">Sensação Térmica: <%= (hour.air_temperature_feels_like.round(1)) %>°C</p>
                <p class="p-0 m-0">Chuva: <%= (hour.rain_probability * 100).to_i %>%</p>
                <p class="p-0 m-0">Humidade: <%= (hour.humidity).to_i %>%</p>
                <p class="p-0 m-0">Vento: <%= (hour.wind_speed).to_i %>km/h (<%=hour.wind_direction %>)</p>
                <% ocean = @oceans_today.where("date_time = '#{hour.date_time}'") %>
                <% unless ocean.empty? %>
                  <% if ocean[0].wave_height %>
                    <p class="p-0 m-0">Ondas: <%= (ocean[0].wave_height) %>m (<%=ocean[0].wave_direction %>)</p>
                  <% end %>
                  <% if ocean[0].water_temperature %>
                    <p class="p-0 m-0">Temperatura da água: <%= (ocean[0].water_temperature).round(1) %>°C</p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <div id="weather-day3" class="inactive-tab all-cards daily">
          <% daily = @dailies[3] %>
          <div class="d-flex justify-content-between align-middle">
            <div class="padding-t">
              <h3 class="h3-weather"><%= @portuguese[3] %>, <%= daily.date_time.strftime("%d/%m/%Y")%></h3>
              <h4><%= daily.description.capitalize%></h4>
            </div>
            <div>
              <%= image_tag "weather_icons/#{daily.icon}.png", class: "image-medium" %>
              <h2><%= daily.air_temperature.round(1) %>°C</h2>
              <p> MIN <%= daily.air_temperature_min.round()%>° / MAX <%= daily.air_temperature_max.round()%>°</p>
            </div>
            <div class="padding-t1">
              <p class="p-0 m-0">Sensação Térmica: <%= (daily.air_temperature_feels_like.round(1)) %>°C</p>
              <p class="p-0 m-0">Chuva: <%= (daily.rain_probability * 100).to_i %>%</p>
              <p class="p-0 m-0">Humidade: <%= (daily.humidity).to_i %>%</p>
              <p class="p-0 m-0">Vento: <%= (daily.wind_speed).to_i %>km/h (<%=daily.wind_direction %>)</p>
              <% ocean = @oceans_today_3.where("wave_height > 0").order(wave_height: :desc).limit(1) %>
              <p class="p-0 m-0">Maior onda do dia: <%= ocean[0].wave_height %> m</p>
              <% ocean = @oceans_today_3.where("water_temperature > 0").order(water_temperature: :asc).limit(1) %>
              <% unless ocean.empty? %>
                <p class="p-0 m-0">Menor Temperatura da água do dia: <%= ocean[0].water_temperature.round(1) %>°C</p>
              <% end %>
              <p class="p-0 m-0">UV: <%= (daily.uv).to_i %></p>
            </div>
          </div>
        </div>

        <div id="weather-day4" class="inactive-tab all-cards daily">
          <% daily = @dailies[4] %>
         <div class="d-flex justify-content-between align-middle">
            <div class="padding-t">
              <h3 class="h3-weather"><%= @portuguese[3] %>, <%= daily.date_time.strftime("%d/%m/%Y")%></h3>
              <h4><%= daily.description.capitalize%></h4>
            </div>
            <div>
              <%= image_tag "weather_icons/#{daily.icon}.png", class: "image-medium" %>
              <h2><%= daily.air_temperature.round(1) %>°C</h2>
              <p> MIN <%= daily.air_temperature_min.round()%>° / MAX <%= daily.air_temperature_max.round()%>°</p>
            </div>
            <div class="padding-t1">
              <p class="p-0 m-0">Sensação Térmica: <%= (daily.air_temperature_feels_like.round(1)) %>°C</p>
              <p class="p-0 m-0">Chuva: <%= (daily.rain_probability * 100).to_i %>%</p>
              <p class="p-0 m-0">Humidade: <%= (daily.humidity).to_i %>%</p>
              <p class="p-0 m-0">Vento: <%= (daily.wind_speed).to_i %>km/h (<%=daily.wind_direction %>)</p>
              <% ocean = @oceans_today_3.where("wave_height > 0").order(wave_height: :desc).limit(1) %>
              <p class="p-0 m-0">Maior onda do dia: <%= ocean[0].wave_height %> m</p>
              <% ocean = @oceans_today_3.where("water_temperature > 0").order(water_temperature: :asc).limit(1) %>
              <% unless ocean.empty? %>
                <p class="p-0 m-0">Menor Temperatura da água do dia: <%= ocean[0].water_temperature.round(1) %>°C</p>
              <% end %>
              <p class="p-0 m-0">UV: <%= (daily.uv).to_i %></p>
            </div>
          </div>
        </div>










        <form action="#" method="get" class="w-100 inactive-tab range-today mb-5"  id="ranges">
          <input type="range" id="weather-range-0" name="weather-range" step="3" min='<%= @weathers_today[0].date_time.hour %>' max='<%= @weathers_today[-1].date_time.hour %>' class="w-100">
          <div class="d-flex justify-content-between">
            <% @weathers_today.each do |hour| %>
              <p><%= hour.date_time.hour.to_s.rjust(2, '0') %>:00 </p>
            <% end %>
          </div>
        </form>
        <form action="#" method="get" class="w-100 inactive-tab range-today_1 mb-5" id="ranges">
          <input type="range" id="weather-range-1" name="weather-range" step="3"  min='<%= @weathers_today_1[0].date_time.hour %>' max='<%= @weathers_today_1[-1].date_time.hour %>' class="w-100">
          <div class="d-flex justify-content-between">
            <% @weathers_today_1.each do |hour| %>
              <p><%= hour.date_time.hour.to_s.rjust(2, '0') %>:00 </p>
            <% end %>
          </div>
        </form>
        <form action="#" method="get" class="w-100 inactive-tab range-today_2 mb-5" id="ranges">
          <input type="range" id="weather-range-2" name="weather-range" step="3" min='<%= @weathers_today_2[0].date_time.hour %>' max='<%= @weathers_today_2[-1].date_time.hour %>' class="w-100">
          <div class="d-flex justify-content-between">
            <% @weathers_today_2.each do |hour| %>
              <p><%= hour.date_time.hour.to_s.rjust(2, '0') %>:00 </p>
            <% end %>
          </div>
        </form>
      </div>
      <div class="card-down d-flex w-100 justify-content-between w-100 mt-5">
        <div class="card-day day-0 w-100 padding-l">
          <p class="text-align-center"><%= @dailies[0].date_time.strftime("%A")[0..2]%></p>
          <%= image_tag "weather_icons/#{@dailies[0].icon}.png", class: "image-small" %>
          <p><%= @dailies[0].air_temperature_min.round()%>° / <%= @dailies[0].air_temperature_max.round()%>°</p>
        </div>
        <div class="card-day day-1 w-100 padding-l">
          <p><%= @dailies[1].date_time.strftime("%A")[0..2]%></p>
          <%= image_tag "weather_icons/#{@dailies[2].icon}.png", class: "image-small"%>
          <p><%= @dailies[1].air_temperature_min.round()%>° / <%= @dailies[0].air_temperature_max.round()%>°</p>
        </div>
        <div class="card-day day-2 w-100 padding-l">
          <p><%= @dailies[2].date_time.strftime("%A")[0..2]%></p>
          <%= image_tag "weather_icons/#{@dailies[3].icon}.png", class: "image-small" %>
          <p><%= @dailies[2].air_temperature_min.round()%>° / <%= @dailies[0].air_temperature_max.round()%>°</p>
        </div>
        <div class="card-day day-3 w-100 padding-l">
          <p><%= @dailies[3].date_time.strftime("%A")[0..2]%></p>
          <%= image_tag "weather_icons/#{@dailies[4].icon}.png", class: "image-small" %>
          <p><%= @dailies[3].air_temperature_min.round()%>° / <%= @dailies[0].air_temperature_max.round()%>°</p>
        </div>
        <div class="card-day day-4 w-100 padding-l">
          <p><%= @dailies[4].date_time.strftime("%A")[0..2]%></p>
          <%= image_tag "weather_icons/#{@dailies[5].icon}.png", class: "image-small" %>
          <p><%= @dailies[4].air_temperature_min.round()%>° / <%= @dailies[0].air_temperature_max.round()%>°</p>
        </div>
      </div>
    </div>
  </div>
</div>
