<div class="banner m-0">
  <h1><%= @beach.name  %></h1>
  <p><%= @beach.overview %></p>
</div>
<div class="cont">
  <ul class="list-inline tabs-underlined w-100 justify-content-between">
    <li>
      <%= link_to "Avaliações", beach_reviews_url(@beach), class: "tab-underlined active"%>
    </li>
    <li>
      <%= link_to "Tempo Real", beach_real_time_url(@beach), class: "tab-underlined"%>
    </li>
    <li>
      <%= link_to "Previsão do Tempo", beach_weather_url(@beach), class: "tab-underlined"%>
    </li>
    <li>
      <%= link_to "Como Chegar", beach_traffic_url(@beach), class: "tab-underlined"%>
    </li>
  </ul>



  <div id="review" class="container inactive-tab">
  </div>




  <div id="realtime" class="container inactive-tab">
  </div>




  <div id="traffic" class="container ">
    <div id="map" data-markers="<%= @markers.to_json %>" >
    </div>
  </div>



  <div id="weatherforecast" class="inactive-tab">





  </div>
</div>
