<div class="banner m-0" style="background-image: linear-gradient(rgba(255,255,255,0.5),rgba(0,0,0,0)), url('<%= cl_image_path @beach.photo.key%>');">
  <h1><%= @beach.name %></h1>
</div>
<div class="cont">
  <ul class="list-inline tabs-underlined w-100 justify-content-between pb-5">
    <li>
      <p class="tab-underlined active" id="tab1">NOTAS</p>
    </li>
    <li>
      <p class="tab-underlined" id="tab5">AVALIAÇÕES</p>
    </li>
    <li>
      <p class="tab-underlined" id="tab2">TEMPO REAL</p>
    </li>
    <li>
      <p class="tab-underlined" id="tab3">PREVISÃO DO TEMPO</p>
    </li>
    <li>
      <p class="tab-underlined" id="tab4">COMO CHEGAR</p>
    </li>
  </ul>
  <div id="grades" class="container">
    <div class="row w-100">
      <div class="col-12 d-flex justify-content-center">
        <p class="geral pr-2">AVALIAÇÃO GERAL</p>
        <% c = 1 %>
        <% rating = ((((@beach.overall_rating * 2).round).to_f)/2) %>
        <% 5.times do %>
          <% if c < rating %>
            <span class="fas fa-star checked geral pl-2 pt-1"></span>
          <% elsif c - rating == 0.5%>
            <span class="fas fa-star-half-alt checked geral pl-2 pt-1"></span>
          <% else %>
            <span class="far fa-star checked geral pl-2 pt-1"></span>
          <% end %>
          <% c += 1 %>
        <% end %>
      </div>
    </div>
    <div class="barras w-100">
      <div class="row">
        <div class="col-2">
          <p class="pt-1">ESTACIONAMENTO</p>
        </div>
        <div class="col-4">
          <div class="barra align-right">
            <div class="barra-nivel1" data-nivel="<%= (@beach.overall_parking.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-2">
          <p  class="pt-1">RESTAURANTES</p>
        </div>
        <div class="col-4">
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_restaurant.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-2">
          <p class="pt-1">TRANSPORTE PÚBLICO</p>
        </div>
        <div class="col-4">
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_public_transportation.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-2">
          <p class="pt-1">SEGURANÇA</p>
        </div>
        <div class="col-4">
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_security.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-2">
          <p class="pt-1">LIMPEZA</p>
        </div>
        <div class="col-4">
          <div class="barra">
           <div class="barra-nivel1" data-nivel="<%= (@beach.overall_cleaning.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-2">
          <p class="pt-1">ALUGUEL DE CADEIRAS</p>
        </div>
        <div class="col-4">
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_rent_equipment.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-2">
          <p class="pt-1">ONDAS</p>
        </div>
        <div class="col-4">
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_wave.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-2">
          <p class="pt-1">VENTO</p>
        </div>
        <div class="col-4">
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_wind.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-2">
          <p class="pt-1">ACESSIBILIDADE</p>
        </div>
        <div class="col-4">
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_accessibility.round(1)*10).to_i%>"></div>
          </div>
        </div>
        <div class="col-2">
          <p class="pt-1">FAIXA DE AREIA</p>
        </div>
        <div class="col-4">
          <div class="barra">
             <div class="barra-nivel1" data-nivel="<%= (@beach.overall_sand_strip.round(1)*10).to_i%>"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="reviews" class="container inactive-tab">
    <div id="overview" class="d-flex justify-content-center pb-4">
      <h3 class="h3-overview w-100"><%= @beach.overview.upcase %></h3>
    </div>
    <% if !@beach.reviews.empty? %>
      <% @beach.reviews.each do |review| %>
        <div id="card-review">
        <p class="p-card"><%= "#{review.user.first_name} #{review.user.last_name} escreveu uma avaliação em #{review.user.created_at.strftime("%Y-%m-%d %H:%M:%S")}" %></p>
        <% user_rating = ( review.parking + review.restaurant + review.public_transportation + review.security + review.cleaning + review.rent_equipment + review.wave + review.wind + review.accessibility + review.sand_strip ) / 10 %>
        <% c = 1 %>
        <% 5.times do %>
          <% if c <= user_rating %>
            <span class="fas fa-star checked p-card2"></span>
          <% elsif c - user_rating == 0.5%>
            <span class="fas fa-star-half-alt checked p-card2"></span>
          <% else %>
            <span class="far fa-star checked p-card2"></span>
          <% end  %>
          <% c += 1 %>
        <% end %>
        <p class="p-card3"><%= review.title %></p>
        <p class="p-card4"><%= review.content %></p>
        </div>
      <% end %>
    <% else  %>
      <p><strong>>Essa praia ainda possui avaliações</p>
    <% end %>
    <%= link_to "Adicionar avaliação", new_beach_review_path(@beach), class: "btn btn-primary btn-blue align-middle h-75 button"%>
  </div>

  <div id="realtime" class="container inactive-tab">
    <h2 class="text-center"><%= @portuguese[0] %>, <%= @real_time.date_time.strftime("%d/%m/%Y %H:%M")%> (AGORA)</h2>
    <div id="real_time_values" class="row">
      <div class="text-center row justify-content-between w-100">
        <div class="col-4 card-trip mt-2">
          <%= image_tag "weather_icons/#{@dailies[3].icon}.png", class: "image-wea" %>
          <div class="card-trip-infos">
            <p><%= @real_time.description.upcase %></p>
          </div>
        </div>
        <div class="col-4 card-trip mt-2">
          <% if @real_time.air_temperature.round(1) > 28 %>
            <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
          <% else %>
            <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
          <% end %>
          <div class="card-trip-infos">
            <p class="p-0 m-0">TEMPERATURA DO AR: <%= (@real_time.air_temperature.round(1)) %>°C</p>
            <p class="p-0 m-0">SENSAÇÃO TÉRMICA <%= (@real_time.air_temperature_feels_like.round(1)) %>°C</p>
          </div>
        </div>
        <div class="col-4 card-trip mt-2">
          <% if @real_time.wind_speed.to_i > 10 %>
            <%= image_tag "strong_wind.png", class: "image-wind" %>
          <% else %>
            <%= image_tag "calm_wind.png", class: "image-wind" %>
          <% end %>
          <div class="card-trip-infos">
            <p class="p-0 m-0">VENTO: <%= (@real_time.wind_speed).to_i %>km/h (<%=@real_time.wind_direction.upcase %>)</p>
            <p class="p-0 m-0">HUMIDADE: <%= (@real_time.humidity).to_i %>%</p>
            <p class="p-0 m-0">PRESSÃO: <%= (@real_time.pressure).to_i %>mb</p>
          </div>
        </div>
        <div class="col-4 card-trip mt-2">
          <% if @real_time.wave_height > 1.5 %>
            <%= image_tag "big_wave.png", class: "image-wave" %>
          <% else %>
            <%= image_tag "small_wave.png", class: "image-wave" %>
          <% end %>
          <div class="card-trip-infos">
            <p class="p-0 m-0">ONDAS: <%= (@real_time.wave_height) %>m (<%= @real_time.wave_direction.upcase %>)</p>
            <% if @real_time.wave_formation.to_i < 10 %>
              <p class="p-0 m-0">"ONDAS MAL FORMADAS"</p>
            <% else %>
              <p class="p-0 m-0">"ONDAS BEM FORMADAS"</p>
            <% end %>
          </div>
        </div>
        <div class="col-4 card-trip mt-2">
          <% if @real_time.water_temperature >= 20 %>
            <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
          <% else %>
            <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
          <% end %>
          <div class="card-trip-infos">
            <p class="p-0 m-0">TEMPERATURA DA ÁGUA: <%= (@real_time.water_temperature).round(1) %>°C</p>
          </div>
        </div>
        <div class="col-4 card-trip mt-2">
          <% if @real_time.cleaning %>
            <%= image_tag "clean_beach.png", class: "image-clean" %>
            <div class="card-trip-infos">
              <div class="alert-success"> PRAIA LIMPA E VERIFICADA PELO ÓRGÃO AMBIENTAL OFICIAL DO RIO DE JANEIRO</div>
            </div>
          <% else %>
            <%= image_tag "dirty_beach.png", class: "image-clean" %>
            <div class="card-trip-infos">
              <div class="alert-danger">ATENÇÃO: PRAIA NÃO RECOMENDADA PARA BANHO PELO ÓRGÃO AMBIENTAL OFICIAL!</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="tides">
      <h4 class="text-center mt-4">MARÉS</h4>
      <%= area_chart @tide, discrete: true %>
    </div>
    <div id="other_informations">
    </div>
  </div>

  <div id="weatherforecast" class="container inactive-tab">
     <div class="card-weathers w-100">
      <div class="card-top w-100">
        <% unless @weathers_today.empty? %>
          <% @weathers_today.each do |hour| %>
            <div id="weather-day0-hour<%= hour.date_time.hour %>" class="inactive-tab all-cards hourly">
              <h2 class="text-center  mb-2"><%= @portuguese[0] %>, <%= hour.date_time.strftime("%d/%m/%Y")%> <%= hour.date_time.hour.to_s.rjust(2, '0')%>h</h2>
              <div class="text-center row justify-content-center w-100 ml-2">
                <div class="col-3 card-trip mt-2 flex-grow-1">
                  <% if hour.air_temperature.round(1) > 28 %>
                    <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
                  <% else %>
                    <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
                  <% end %>
                  <div class="card-trip-infos">
                    <p class="p-0 m-0">TEMPERATURA DO AR: <%= (hour.air_temperature.round(1)) %>°C</p>
                    <p class="p-0 m-0">SENSAÇÃO TÉRMICA <%= (hour.air_temperature_feels_like.round(1)) %>°C</p>
                  </div>
                </div>
                <div class="col-2 card-trip mt-2 flex-grow-1">
                  <%= image_tag "weather_icons/#{hour.icon}.png", class: "image-wea" %>
                  <div class="card-trip-infos">
                    <p class="p-0 m-0"><%= hour.description.upcase%></p>
                    <p class="p-0 m-0">CHUVA: <%= (hour.rain_probability * 100).to_i %>%</p>
                  </div>
                </div>
                <div class="col-2 card-trip mt-2 flex-grow-1">
                  <% if hour.wind_speed.to_i > 10 %>
                    <%= image_tag "strong_wind.png", class: "image-wind" %>
                  <% else %>
                    <%= image_tag "calm_wind.png", class: "image-wind" %>
                  <% end %>
                  <div class="card-trip-infos">
                    <p class="p-0 m-0">VENTO: <%= (hour.wind_speed).to_i %>km/h (<%=hour.wind_direction.upcase %>)</p>
                    <p class="p-0 m-0">HUMIDADE: <%= (hour.humidity).to_i %>%</p>
                  </div>
                </div>
                <% ocean = @oceans_today.where("date_time = '#{hour.date_time}'") %>
                <div class="col-2 card-trip mt-2 flex-grow-1">
                  <% if ocean[0].water_temperature >= 20 %>
                    <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
                  <% else %>
                    <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
                  <% end %>
                  <div class="card-trip-infos">
                    <p class="p-0 m-0">TEMPERATURA DA ÁGUA: <%= (ocean[0].water_temperature).round(1) %>°C</p>
                  </div>
                </div>
                <div class="col-3 card-trip mt-2 flex-grow-1">
                  <% if ocean[0].wave_height %>
                    <% if ocean[0].wave_height > 1.5 %>
                      <%= image_tag "big_wave.png", class: "image-wave1" %>
                    <% else %>
                      <%= image_tag "small_wave.png", class: "image-wave1" %>
                    <% end %>
                    <div class="card-trip-infos">
                      <p class="p-0 m-0">ONDAS: <%= (ocean[0].wave_height) %>m (<%=ocean[0].wave_direction.upcase %>)</p>
                      <% if ocean[0].wave_formation.to_i < 10 %>
                        <p class="p-0 m-0">"ONDAS MAL FORMADAS"</p>
                      <% else %>
                        <p class="p-0 m-0">"ONDAS BEM FORMADAS"</p>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h2 class="all-cards hourly">NÃO HÁ DADOS PARA O DIA DE HOJE</h2>
        <% end %>
        <% @weathers_today_1.each do |hour| %>
          <div id="weather-day1-hour<%= hour.date_time.hour %>" class="inactive-tab all-cards hourly">
            <h2 class="text-center mb-2"><%= @portuguese[1] %>, <%= hour.date_time.strftime("%d/%m/%Y")%> <%= hour.date_time.hour.to_s.rjust(2, '0')%>h</h2>
            <div class="text-center row justify-content-center w-100 ml-2">
              <div class="col-3 card-trip mt-2 flex-grow-1">
                <% if hour.air_temperature.round(1) > 28 %>
                  <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
                <% else %>
                  <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
                <% end %>
                <div class="card-trip-infos">
                  <p class="p-0 m-0">TEMPERATURA DO AR: <%= (hour.air_temperature.round(1)) %>°C</p>
                  <p class="p-0 m-0">SENSAÇÃO TÉRMICA <%= (hour.air_temperature_feels_like.round(1)) %>°C</p>
                </div>
              </div>
              <div class="col-2 card-trip mt-2 flex-grow-1">
                <%= image_tag "weather_icons/#{hour.icon}.png", class: "image-wea" %>
                <div class="card-trip-infos">
                  <p class="p-0 m-0"><%= hour.description.upcase%></p>
                  <p class="p-0 m-0">CHUVA: <%= (hour.rain_probability * 100).to_i %>%</p>
                </div>
              </div>
              <div class="col-2 card-trip mt-2 flex-grow-1">
                <% if hour.wind_speed.to_i > 10 %>
                  <%= image_tag "strong_wind.png", class: "image-wind" %>
                <% else %>
                  <%= image_tag "calm_wind.png", class: "image-wind" %>
                <% end %>
                <div class="card-trip-infos">
                  <p class="p-0 m-0">VENTO: <%= (hour.wind_speed).to_i %>km/h (<%=hour.wind_direction.upcase %>)</p>
                  <p class="p-0 m-0">HUMIDADE: <%= (hour.humidity).to_i %>%</p>
                </div>
              </div>
              <% ocean = @oceans_today_1.where("date_time = '#{hour.date_time}'") %>
              <div class="col-2 card-trip mt-2 flex-grow-1">
                <% if ocean[0].water_temperature >= 20 %>
                  <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
                <% else %>
                  <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
                <% end %>
                <div class="card-trip-infos">
                  <p class="p-0 m-0">TEMPERATURA DA ÁGUA: <%= (ocean[0].water_temperature).round(1) %>°C</p>
                </div>
              </div>
              <div class="col-3 card-trip mt-2 flex-grow-1">
                <% if ocean[0].wave_height %>
                  <% if ocean[0].wave_height > 1.5 %>
                    <%= image_tag "big_wave.png", class: "image-wave1" %>
                  <% else %>
                    <%= image_tag "small_wave.png", class: "image-wave1" %>
                  <% end %>
                  <div class="card-trip-infos">
                    <p class="p-0 m-0">ONDAS: <%= (ocean[0].wave_height) %>m (<%=ocean[0].wave_direction.upcase %>)</p>
                    <% if ocean[0].wave_formation.to_i < 10 %>
                      <p class="p-0 m-0">"ONDAS MAL FORMADAS"</p>
                    <% else %>
                      <p class="p-0 m-0">"ONDAS BEM FORMADAS"</p>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% unless @weathers_today_2.empty? %>
          <% @weathers_today_2.each do |hour| %>
            <div id="weather-day2-hour<%= hour.date_time.hour %>" class="inactive-tab all-cards hourly">
              <h2 class="text-center"><%= @portuguese[2] %>, <%= hour.date_time.strftime("%d/%m/%Y")%> <%= hour.date_time.hour.to_s.rjust(2, '0')%>h</h2>
              <div class="text-center row justify-content-center w-100 ml-2">
                <div class="col-3 card-trip mt-2 flex-grow-1">
                  <% if hour.air_temperature.round(1) > 28 %>
                    <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
                  <% else %>
                    <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
                  <% end %>
                  <div class="card-trip-infos">
                    <p class="p-0 m-0">TEMPERATURA DO AR: <%= (hour.air_temperature.round(1)) %>°C</p>
                    <p class="p-0 m-0">SENSAÇÃO TÉRMICA <%= (hour.air_temperature_feels_like.round(1)) %>°C</p>
                  </div>
                </div>
                <div class="col-2 card-trip mt-2 flex-grow-1">
                  <%= image_tag "weather_icons/#{hour.icon}.png", class: "image-wea" %>
                  <div class="card-trip-infos">
                    <p class="p-0 m-0"><%= hour.description.upcase%></p>
                    <p class="p-0 m-0">CHUVA: <%= (hour.rain_probability * 100).to_i %>%</p>
                  </div>
                </div>
                <div class="col-2 card-trip mt-2 flex-grow-1">
                  <% if hour.wind_speed.to_i > 10 %>
                    <%= image_tag "strong_wind.png", class: "image-wind" %>
                  <% else %>
                    <%= image_tag "calm_wind.png", class: "image-wind" %>
                  <% end %>
                  <div class="card-trip-infos">
                    <p class="p-0 m-0">VENTO: <%= (hour.wind_speed).to_i %>km/h (<%=hour.wind_direction.upcase %>)</p>
                    <p class="p-0 m-0">HUMIDADE: <%= (hour.humidity).to_i %>%</p>
                  </div>
                </div>
                <% ocean = @oceans_today_2.where("date_time = '#{hour.date_time}'") %>
                <div class="col-2 card-trip mt-2 flex-grow-1">
                  <% if ocean[0].water_temperature %>
                    <% if ocean[0].water_temperature >= 20 %>
                      <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
                    <% else %>
                      <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
                    <% end %>
                    <div class="card-trip-infos">
                      <p class="p-0 m-0">TEMPERATURA DA ÁGUA: <%= (ocean[0].water_temperature).round(1) %>°C</p>
                    </div>
                  <% end %>
                </div>
                <div class="col-3 card-trip mt-2 flex-grow-1">
                  <% if ocean[0].wave_height %>
                    <% if ocean[0].wave_height > 1.5 %>
                      <%= image_tag "big_wave.png", class: "image-wave1" %>
                    <% else %>
                      <%= image_tag "small_wave.png", class: "image-wave1" %>
                    <% end %>
                    <div class="card-trip-infos">
                      <p class="p-0 m-0">ONDAS: <%= (ocean[0].wave_height) %>m (<%=ocean[0].wave_direction.upcase %>)</p>
                      <% if ocean[0].wave_formation.to_i < 10 %>
                        <p class="p-0 m-0">"ONDAS MAL FORMADAS"</p>
                      <% else %>
                        <p class="p-0 m-0">"ONDAS BEM FORMADAS"</p>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div id="weather-day2" class="inactive-tab all-cards daily">
            <% daily = @dailies[2] %>
            <h2 class="text-center"><%= @portuguese[2] %>, <%= daily.date_time.strftime("%d/%m/%Y")%></h2>
            <div class="text-center row justify-content-center w-100 ml-2">
              <div class="col-3 card-trip mt-2 flex-grow-1">
                <% if daily.air_temperature.round(1) > 28 %>
                  <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
                <% else %>
                  <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
                <% end %>
                <div class="card-trip-infos">
                  <p class="p-0 m-0">TEMPERATURA DO AR: <%= (daily.air_temperature.round(1)) %>°C</p>
                  <p class="p-0 m-0">SENSAÇÃO TÉRMICA <%= (daily.air_temperature_feels_like.round(1)) %>°C</p>
                  <p class="p-0 m-0">MIN <%= daily.air_temperature_min.round()%>° / MAX <%= daily.air_temperature_max.round()%>°</p>
                </div>
              </div>
              <div class="col-2 card-trip mt-2 flex-grow-1">
                <%= image_tag "weather_icons/#{daily.icon}.png", class: "image-wea" %>
                <div class="card-trip-infos">
                  <p class="p-0 m-0"><%= daily.description.upcase%></p>
                  <p class="p-0 m-0">CHUVA: <%= (daily.rain_probability * 100).to_i %>%</p>
                  <p class="p-0 m-0">UV: <%= (daily.uv).to_i %></p>
                </div>
              </div>
              <div class="col-2 card-trip mt-2 flex-grow-1">
                <% if daily.wind_speed.to_i > 10 %>
                  <%= image_tag "strong_wind.png", class: "image-wind" %>
                <% else %>
                  <%= image_tag "calm_wind.png", class: "image-wind" %>
                <% end %>
                <div class="card-trip-infos">
                  <p class="p-0 m-0">VENTO: <%= (daily.wind_speed).to_i %>km/h (<%=daily.wind_direction.upcase %>)</p>
                  <p class="p-0 m-0">HUMIDADE: <%= (daily.humidity).to_i %>%</p>
                </div>
              </div>
              <% ocean = @oceans_today_2.where("wave_height > 0").order(wave_height: :desc).limit(1) %>
              <% ocean1 = @oceans_today_2.where("water_temperature > 0").order(water_temperature: :asc).limit(1) %>
              <div class="col-2 card-trip mt-2 flex-grow-1">
                <% if ocean1[0].water_temperature %>
                  <% if ocean1[0].water_temperature >= 20 %>
                    <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
                  <% else %>
                    <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
                  <% end %>
                  <div class="card-trip-infos">
                    <p class="p-0 m-0">TEMPERATURA DA ÁGUA: <%= (ocean1[0].water_temperature).round(1) %>°C</p>
                  </div>
                <% end %>
              </div>
              <div class="col-3 card-trip mt-2 flex-grow-1">
                <% if ocean[0].wave_height %>
                  <% if ocean[0].wave_height > 1.5 %>
                    <%= image_tag "big_wave.png", class: "image-wave1" %>
                  <% else %>
                    <%= image_tag "small_wave.png", class: "image-wave1" %>
                  <% end %>
                  <div class="card-trip-infos">
                    <p class="p-0 m-0">ONDAS: <%= (ocean1[0].wave_height) %>m (<%=ocean[0].wave_direction.upcase %>)</p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
         <div id="weather-day3" class="inactive-tab all-cards daily">
          <% daily = @dailies[3] %>
          <h2 class="text-center"><%= @portuguese[3] %>, <%= daily.date_time.strftime("%d/%m/%Y")%></h2>
          <div class="text-center row justify-content-center w-100 ml-2">
            <div class="col-3 card-trip mt-2 flex-grow-1">
              <% if daily.air_temperature.round(1) > 28 %>
                <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
              <% else %>
                <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
              <% end %>
              <div class="card-trip-infos">
                <p class="p-0 m-0">TEMPERATURA DO AR: <%= (daily.air_temperature.round(1)) %>°C</p>
                <p class="p-0 m-0">SENSAÇÃO TÉRMICA <%= (daily.air_temperature_feels_like.round(1)) %>°C</p>
                <p class="p-0 m-0">MIN <%= daily.air_temperature_min.round()%>° / MAX <%= daily.air_temperature_max.round()%>°</p>
              </div>
            </div>
            <div class="col-2 card-trip mt-2 flex-grow-1">
              <%= image_tag "weather_icons/#{daily.icon}.png", class: "image-wea" %>
              <div class="card-trip-infos">
                <p class="p-0 m-0"><%= daily.description.upcase%></p>
                <p class="p-0 m-0">CHUVA: <%= (daily.rain_probability * 100).to_i %>%</p>
                <p class="p-0 m-0">UV: <%= (daily.uv).to_i %></p>
              </div>
            </div>
            <div class="col-2 card-trip mt-2 flex-grow-1">
              <% if daily.wind_speed.to_i > 10 %>
                <%= image_tag "strong_wind.png", class: "image-wind" %>
              <% else %>
                <%= image_tag "calm_wind.png", class: "image-wind" %>
              <% end %>
              <div class="card-trip-infos">
                <p class="p-0 m-0">VENTO: <%= (daily.wind_speed).to_i %>km/h (<%=daily.wind_direction.upcase %>)</p>
                <p class="p-0 m-0">HUMIDADE: <%= (daily.humidity).to_i %>%</p>
              </div>
            </div>
            <% ocean = @oceans_today_3.where("wave_height > 0").order(wave_height: :desc).limit(1) %>
            <% ocean1 = @oceans_today_3.where("water_temperature > 0").order(water_temperature: :asc).limit(1) %>
            <div class="col-2 card-trip mt-2 flex-grow-1">
              <% if ocean1[0] %>
                <% if ocean1[0].water_temperature >= 20 %>
                  <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
                <% else %>
                  <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
                <% end %>
                <div class="card-trip-infos">
                  <p class="p-0 m-0">TEMPERATURA DA ÁGUA: <%= (ocean1[0].water_temperature).round(1) %>°C</p>
                </div>
              <% end %>
            </div>
            <div class="col-3 card-trip mt-2 flex-grow-1">
              <% if ocean[0] %>
                <% if ocean[0].wave_height > 1.5 %>
                  <%= image_tag "big_wave.png", class: "image-wave1" %>
                <% else %>
                  <%= image_tag "small_wave.png", class: "image-wave1" %>
                <% end %>
                <div class="card-trip-infos">
                  <p class="p-0 m-0">ONDAS: <%= (ocean[0].wave_height) %>m (<%=ocean[0].wave_direction.upcase %>)</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div id="weather-day4" class="inactive-tab all-cards daily">
          <% daily = @dailies[4] %>
          <h2 class="text-center"><%= @portuguese[2] %>, <%= daily.date_time.strftime("%d/%m/%Y")%></h2>
          <div class="text-center row justify-content-center w-100 ml-2">
            <div class="col-3 card-trip mt-2 flex-grow-1">
              <% if daily.air_temperature.round(1) > 28 %>
                <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
              <% else %>
                <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
              <% end %>
              <div class="card-trip-infos">
                <p class="p-0 m-0">TEMPERATURA DO AR: <%= (daily.air_temperature.round(1)) %>°C</p>
                <p class="p-0 m-0">SENSAÇÃO TÉRMICA <%= (daily.air_temperature_feels_like.round(1)) %>°C</p>
                <p class="p-0 m-0">MIN <%= daily.air_temperature_min.round()%>° / MAX <%= daily.air_temperature_max.round()%>°</p>
              </div>
            </div>
            <div class="col-2 card-trip mt-2 flex-grow-1">
              <%= image_tag "weather_icons/#{daily.icon}.png", class: "image-wea" %>
              <div class="card-trip-infos">
                <p class="p-0 m-0"><%= daily.description.upcase%></p>
                <p class="p-0 m-0">CHUVA: <%= (daily.rain_probability * 100).to_i %>%</p>
                <p class="p-0 m-0">UV: <%= (daily.uv).to_i %></p>
              </div>
            </div>
            <div class="col-2 card-trip mt-2 flex-grow-1">
              <% if daily.wind_speed.to_i > 10 %>
                <%= image_tag "strong_wind.png", class: "image-wind" %>
              <% else %>
                <%= image_tag "calm_wind.png", class: "image-wind" %>
              <% end %>
              <div class="card-trip-infos">
                <p class="p-0 m-0">VENTO: <%= (daily.wind_speed).to_i %>km/h (<%=daily.wind_direction.upcase %>)</p>
                <p class="p-0 m-0">HUMIDADE: <%= (daily.humidity).to_i %>%</p>
              </div>
            </div>
            <% ocean = @oceans_today_4.where("wave_height > 0").order(wave_height: :desc).limit(1) %>
            <% ocean1 = @oceans_today_4.where("water_temperature > 0").order(water_temperature: :asc).limit(1) %>
            <div class="col-2 card-trip mt-2 flex-grow-1">
              <% if ocean1[0] %>
                <% if ocean1[0].water_temperature >= 20 %>
                  <%= image_tag "hot_water.png", class: "image-temp pt-1" %>
                <% else %>
                  <%= image_tag "cold_water.png", class: "image-temp pt-1" %>
                <% end %>
                <div class="card-trip-infos">
                  <p class="p-0 m-0">TEMPERATURA DA ÁGUA: <%= (ocean1[0].water_temperature).round(1) %>°C</p>
                </div>
              <% end %>
            </div>
            <div class="col-3 card-trip mt-2 flex-grow-1">
              <% if ocean[0] %>
                <% if ocean[0].wave_height > 1.5 %>
                  <%= image_tag "big_wave.png", class: "image-wave1" %>
                <% else %>
                  <%= image_tag "small_wave.png", class: "image-wave1" %>
                <% end %>
                <div class="card-trip-infos">
                  <p class="p-0 m-0">ONDAS: <%= (ocean[0].wave_height) %>m (<%=ocean[0].wave_direction.upcase %>)</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <form action="#" method="get" class="frame w-100 inactive-tab range-today mb-5"  id="ranges">
          <div class="range">
            <% unless @weathers_today.empty? %>
              <input type="range" id="weather-range-0" name="weather-range" step="3" min='<%= @weathers_today[0].date_time.hour %>' max='<%= @weathers_today[-1].date_time.hour %>' class="w-100">
              <div class="d-flex justify-content-between mt-0 mb-5 pt-0">
                <% @weathers_today.each do |hour| %>
                  <p><%= hour.date_time.hour.to_s.rjust(2, '0') %>:00 </p>
                <% end %>
              </div>
            <% else %>
              <p id="weather-range-0"></p>
            <% end %>
          </div>
        </form>
        <form action="#" method="get" class="frame w-100 inactive-tab range-today_1 mb-5" id="ranges">
          <div class="range">
            <input type="range" id="weather-range-1" name="weather-range" step="3"  min='<%= @weathers_today_1[0].date_time.hour %>' max='<%= @weathers_today_1[-1].date_time.hour %>' class="w-100">
            <div class="d-flex justify-content-between mt-0 mb-5 pt-0">
              <% @weathers_today_1.each do |hour| %>
                <p><%= hour.date_time.hour.to_s.rjust(2, '0') %>:00 </p>
              <% end %>
            </div>
          </div>
        </form>
        <form action="#" method="get" class="frame w-100 inactive-tab range-today_2 mb-5" id="ranges">
          <div class="range">
            <% unless @weathers_today_2.empty? %>
              <input type="range" id="weather-range-2" name="weather-range" step="3" min='<%= @weathers_today_2[0].date_time.hour %>' max='<%= @weathers_today_2[-1].date_time.hour %>' class="w-100">
              <div class="d-flex justify-content-between mt-0 mb-5 pt-0">
                <% @weathers_today_2.each do |hour| %>
                  <p><%= hour.date_time.hour.to_s.rjust(2, '0') %>:00 </p>
                <% end %>
              </div>
            <% else %>
              <div id="weather-range-2"></div>
              <div id="weather-range-null"></div>
            <% end %>
          </div>
        </form>
      </div>
      <div class="card-down d-flex w-100 justify-content-between w-100 mt-5">
        <div class="card-day day-0 w-100">
          <p class="text-align-center"><%= @portuguese[0][0..2]%></p>
          <%= image_tag "weather_icons/#{@dailies[0].icon}.png", class: "image-small" %>
          <p><%= @dailies[0].air_temperature_min.round()%>° / <%= @dailies[0].air_temperature_max.round()%>°</p>
        </div>
        <div class="card-day day-1 w-100">
          <p><%= @portuguese[1][0..2]%></p>
          <%= image_tag "weather_icons/#{@dailies[1].icon}.png", class: "image-small"%>
          <p><%= @dailies[1].air_temperature_min.round()%>° / <%= @dailies[0].air_temperature_max.round()%>°</p>
        </div>
        <div class="card-day day-2 w-100">
          <p><%= @portuguese[2][0..2]%></p>
          <%= image_tag "weather_icons/#{@dailies[2].icon}.png", class: "image-small" %>
          <p><%= @dailies[2].air_temperature_min.round()%>° / <%= @dailies[0].air_temperature_max.round()%>°</p>
        </div>
        <div class="card-day day-3 w-100">
          <p><%= @portuguese[3][0..2]%></p>
          <%= image_tag "weather_icons/#{@dailies[3].icon}.png", class: "image-small" %>
          <p><%= @dailies[3].air_temperature_min.round()%>° / <%= @dailies[0].air_temperature_max.round()%>°</p>
        </div>
        <div class="card-day day-4 w-100">
          <p><%= @portuguese[4][0..2]%></p>
          <%= image_tag "weather_icons/#{@dailies[4].icon}.png", class: "image-small" %>
          <p><%= @dailies[4].air_temperature_min.round()%>° / <%= @dailies[0].air_temperature_max.round()%>°</p>
        </div>
      </div>
    </div>
  </div>

  <div id="traffic" class="container2 inactive-tab">
    <div id="floating-panel" class=''>
      <b>Qual seu meio de transporte? </b>
      <%= image_tag "car.png", id: "bicycling", title: "DRIVING", class: "image-small-transit pr-2 all-icons pressed-direction" %>
      <%= image_tag "bike.png", id: "driving", title: "BICYCLING", class: "image-small-transit pr-2 all-icons" %>
      <%= image_tag "bus.png", id: "transit", title: "TRANSIT", class: "image-small-transit pr-2 all-icons" %>
    </div>
    <div id="map" data-markers="<%= @markers.to_json %>" data-ok="<%= ENV['GOOGLEMAP_API_KEY'] %>" >
    </div>
    <div id="transit" class="pt-3">
      <div id="car" class="card-transit m-2">
      </div>
      <div id="public-transportation"  class="card-transit-public">
      </div>
    </div>
  </div>
</div>

<!-- <script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @tide_datetime.to_json.html_safe %>,
        datasets: [{
            data: <%= @tide_tide.to_json.html_safe %>,
        }]
    },
    options: {
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});
</script>
 -->
